@import 'tailwindcss';
@layer base {
  @font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 100 900;
    src: url('./fonts/Inter-roman.var.woff2') format('woff2');
  }

  @font-face {
    font-family: 'JetBrains Mono';
    font-style: normal;
    font-weight: 100 800;
    src: url('./fonts/JetBrainsMono-roman.var.woff2') format('woff2');
  }
}